{% extends 'base.html' %}
{% block title %}
  Đặt lại mật khẩu | GTBook
{% endblock %}

{% block content %}
  <div class="wrapper wow fadeInLeft" data-wow-delay="0.1s">
    <div class="title">Mật khẩu mới</div>

    {% if validlink %}
      <p class="text-center mt-3">Vui lòng nhập mật khẩu mới của bạn bên dưới.</p>
      <form class="p-3 mt-3" method="post">
        {% csrf_token %}
        {% if form.errors or form.non_field_errors %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% for field in form %}
              {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <div class="form-field d-flex align-items-center">
          <span class="bi bi-key-fill fs-3 ms-2"></span>
          {{ form.new_password1 }}
          <span class="eye"><span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_new_password1"></span></span>
        </div>

        <div class="form-field d-flex align-items-center">
          <span class="bi bi-key-fill fs-3 ms-2"></span>
          {{ form.new_password2 }}
          <span class="eye"><span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_new_password2"></span></span>
        </div>
        <div id="match-result" class="small mt-1"></div>
        <button class="btn mt-3" type="submit">Xác nhận thay đổi</button>
      </form>
    {% else %}
      <div class="alert alert-danger text-center mt-3">
        <p>Liên kết không hợp lệ hoặc đã hết hạn.</p>
        <a href="{% url 'password_reset' %}" class="btn btn-warning btn-sm">Gửi lại yêu cầu mới</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
