{% extends 'base.html' %}
{% block content %}
    <div class="wrapper wow fadeInLeft" data-wow-delay="0.1s">
        <div class="title">Thành công!</div>
        <div class="text-center p-3 mt-3">
            <div class="mb-4">
                <span class="bi bi-shield-check text-success" style="font-size: 4rem;"></span>
            </div>
            <p class="fs-5">Mật khẩu của bạn đã được thay đổi thành công.</p>
            <p>Bây giờ bạn có thể đăng nhập bằng mật khẩu mới của mình.</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'account_login' %}" class="btn mt-3">Đăng nhập ngay</a>
        </div>
    </div>
{% endblock %}
