{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="wrapper mt-4">
    <div class="title">{{ title }}</div>
    <form class="p-3 mt-3" action="{% url 'password_reset' %}" method="post" autocomplete="off">
      {% csrf_token %}
      {% if form.errors or form.non_field_errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for field in form %}
            {{ field.errors }}
          {% endfor %}
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      <div class="form-field d-flex align-items-center">
        {{ form.old_password }}
        <span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_old_password"></span>
      </div>
      <div class="form-field d-flex align-items-center">
        {{ form.new_password1 }}
        <span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_new_password1"></span>
      </div>
      <div class="form-field d-flex align-items-center">
        {{ form.new_password2 }}
        <span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_new_password2"></span>
      </div>
      <button type="submit" class="btn mt-3">{{ title }}</button>
    </form>
    <div class="text-center fs-6 mt-4">
      Quay lại <a href="{% url 'account_login' %}" class="fs-5">Đăng nhập</a>
    </div>
  </div>
{% endblock %}
