<form class="position-relative"
      role="search"
      action="{% url 'store:search' %}"
      method="get">
    <input class="form-control rounded-pill pe-5 shadow"
           type="search"
           name="query"
           placeholder="Tìm sản phẩm..."
           hx-get="{% url 'store:search' %}"
           hx-trigger="keyup changed delay:500ms"
           hx-target="#navbar-search-results"
           hx-swap="innerHTML" />
    <button class="btn position-absolute end-0 top-0 text-primary" type="submit">
        <i class="bi bi-search"></i>
    </button>
</form>
