{% extends 'base.html' %}
{% block navbar %}
  {% include 'partials/base/navbar.html' %}
{% endblock %}
{% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center">"Bạn không có quyền truy cập vào trang này"</h1>
  <p class="text-center">
    Vui lòng <a href="{% url 'account_login' %}" class="btn btn-primary">Đăng nhập</a> hoặc quay lại <a href="/" class="btn btn-primary">Trang chủ</a>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
{% block footer %}
  {% include 'partials/base/footer.html' %}
{% endblock %}
